In [1]:
import pandas as pd

# Daten Importieren

In [2]:
auftraege_clean = pd.read_csv("../Cleaned_Data/isi_auftraege.csv", sep=",")

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
auftrag_clean = pd.read_csv("../Cleaned_Data/isi_auftrag.csv", sep=",")

In [4]:
stamm_clean = pd.read_csv("../Cleaned_Data/isi_stammdaten.csv", sep=",")

In [5]:
aufenthalt_clean = pd.read_csv("../Cleaned_Data/isi_aufenthalt.csv", sep=",")

In [6]:
stamm_clean.head()

,FZ-ID,BABR,FZ_KATEGORIE,FZ_LAENGE,FZ_BREITE,FZ_HOEHE,AKTIV,AUSMUSTERUNG_DAT,MOTORTYP,EURONORM,INBETRIEB_AB,KLIMAANLAGE,ABGASFILTER,ANZAHL_TUEREN,ZUL_100KMH,BAUJAHR,PLAETZE
0,7aac6baa-c68d-4321-bce7-52b56f73d970,O4C53,G100,18.0,2.55,3.25,1,NaN,D1556 LOH10,6,43817.0,3,04,3,0,2019.0,146
1,05493406-471f-446f-bb4c-ba53c9905d47,O9Z99,NaN,0.0,0.00,0.00,1,NaN,NaN,NaN,43132.0,0,NaN,0,0,NaN,0
2,21ee6c50-496c-4db2-9adb-194e3544df84,O9Z99,NaN,0.0,0.00,0.00,1,NaN,NaN,NaN,39814.0,9,NaN,0,0,NaN,0
3,f68450f9-0044-4367-a9ea-80c494f19848,O2S50,NaN,0.0,0.00,0.00,1,NaN,NaN,NaN,43565.0,0,NaN,0,0,2019.0,0
4,1335f592-61e5-49a2-b076-5d4a122473bb,O2S50,NaN,0.0,0.00,0.00,1,NaN,NaN,NaN,32874.0,0,NaN,0,0,2019.0,0

# Columns anzeigen

In [7]:
auftraege_clean.columns

Index(['FZ-ID', 'WERK', 'AUFTRAG', 'AUFTRAGSTEXT', 'WHO_NUMMER', 'AUFTRAGSART',
       'SYSTEMSTATUS', 'ECKSTARTTERMIN', 'ECKENDTERMIN', 'BEZUGSDATUM',
       'UPDATE_DATE', 'UEBERGEORDN_AUFTRAG'],
      dtype='object')

In [8]:
auftrag_clean.columns

Index(['FZ-ID', 'BAUART', 'ISAS', 'AUFTRAGSNR', 'AUFTRAGSBEZEICHNUNG',
       'PRODUKTCODE', 'PRODUKTBEZEICHNUNG', 'MONAT', 'JAHR'],
      dtype='object')

In [9]:
stamm_clean.columns

Index(['FZ-ID', 'BABR', 'FZ_KATEGORIE', 'FZ_LAENGE', 'FZ_BREITE', 'FZ_HOEHE',
       'AKTIV', 'AUSMUSTERUNG_DAT', 'MOTORTYP', 'EURONORM', 'INBETRIEB_AB',
       'KLIMAANLAGE', 'ABGASFILTER', 'ANZAHL_TUEREN', 'ZUL_100KMH', 'BAUJAHR',
       'PLAETZE'],
      dtype='object')

In [10]:
aufenthalt_clean.columns

Index(['FZ-ID', 'WHO_NUMMER', 'WERK', 'BAUART', 'ILA_GRUPPE', 'REGION',
       'DAT_WERKSBEZUG', 'DAT_AUSBUCH'],
      dtype='object')

# Spalten verbinden

In [11]:
isi_merge_1 = pd.merge(auftraege_clean, aufenthalt_clean, on='FZ-ID', how='left')

In [12]:
isi_merge_1.columns

Index(['FZ-ID', 'WERK_x', 'AUFTRAG', 'AUFTRAGSTEXT', 'WHO_NUMMER_x',
       'AUFTRAGSART', 'SYSTEMSTATUS', 'ECKSTARTTERMIN', 'ECKENDTERMIN',
       'BEZUGSDATUM', 'UPDATE_DATE', 'UEBERGEORDN_AUFTRAG', 'WHO_NUMMER_y',
       'WERK_y', 'BAUART', 'ILA_GRUPPE', 'REGION', 'DAT_WERKSBEZUG',
       'DAT_AUSBUCH'],
      dtype='object')

In [13]:
isi_merge_2 = pd.merge(isi_merge_1, auftraege_clean, on='FZ-ID', how='left')

In [14]:
isi_merge_final = pd.merge(isi_merge_2, aufenthalt_clean, on='FZ-ID', how='left')

In [15]:
isi_merge_final.columns

Index(['FZ-ID', 'WERK_x', 'AUFTRAG_x', 'AUFTRAGSTEXT_x', 'WHO_NUMMER_x',
       'AUFTRAGSART_x', 'SYSTEMSTATUS_x', 'ECKSTARTTERMIN_x', 'ECKENDTERMIN_x',
       'BEZUGSDATUM_x', 'UPDATE_DATE_x', 'UEBERGEORDN_AUFTRAG_x',
       'WHO_NUMMER_y', 'WERK_y', 'BAUART_x', 'ILA_GRUPPE_x', 'REGION_x',
       'DAT_WERKSBEZUG_x', 'DAT_AUSBUCH_x', 'WERK_x', 'AUFTRAG_y',
       'AUFTRAGSTEXT_y', 'WHO_NUMMER_x', 'AUFTRAGSART_y', 'SYSTEMSTATUS_y',
       'ECKSTARTTERMIN_y', 'ECKENDTERMIN_y', 'BEZUGSDATUM_y', 'UPDATE_DATE_y',
       'UEBERGEORDN_AUFTRAG_y', 'WHO_NUMMER_y', 'WERK_y', 'BAUART_y',
       'ILA_GRUPPE_y', 'REGION_y', 'DAT_WERKSBEZUG_y', 'DAT_AUSBUCH_y'],
      dtype='object')

In [16]:
isi_merge_final.tail()

,FZ-ID,WERK_x,AUFTRAG_x,AUFTRAGSTEXT_x,WHO_NUMMER_x,AUFTRAGSART_x,SYSTEMSTATUS_x,ECKSTARTTERMIN_x,ECKENDTERMIN_x,BEZUGSDATUM_x,...,BEZUGSDATUM_y,UPDATE_DATE_y,UEBERGEORDN_AUFTRAG_y,WHO_NUMMER_y,WERK_y,BAUART_y,ILA_GRUPPE_y,REGION_y,DAT_WERKSBEZUG_y,DAT_AUSBUCH_y
94475113,a1a70d67-11f5-425a-a772-06d038bab884,NaN,1037448794,außerplanm. Instandsetzung,231,510,ABGS RÜCK ABRV KKMP VOKL,43941,43941,43949,...,43875,43986.220266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94475114,a1a70d67-11f5-425a-a772-06d038bab884,NaN,1037448794,außerplanm. Instandsetzung,231,510,ABGS RÜCK ABRV KKMP VOKL,43941,43941,43949,...,43885,43986.220266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94475115,a1a70d67-11f5-425a-a772-06d038bab884,NaN,1037448794,außerplanm. Instandsetzung,231,510,ABGS RÜCK ABRV KKMP VOKL,43941,43941,43949,...,43903,43986.220266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94475116,a1a70d67-11f5-425a-a772-06d038bab884,NaN,1037448794,außerplanm. Instandsetzung,231,510,ABGS RÜCK ABRV KKMP VOKL,43941,43941,43949,...,43916,43986.220266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94475117,a1a70d67-11f5-425a-a772-06d038bab884,NaN,1037448794,außerplanm. Instandsetzung,231,510,ABGS RÜCK ABRV KKMP VOKL,43941,43941,43949,...,43949,43986.220266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Neue Daten speichern

In [ ]:
isi_merge_final.to_csv("../Cleaned_Data/isi_daten.csv", index = False)

# IDS importieren

In [ ]:
ids = pd.read_csv("../Cleaned_Data/ids.csv", sep=",")

In [ ]:
ids = ids.rename(columns={'0': 'FZ-ID'})

# Stichprobe ziehen

In [ ]:
stichprobe = ids.sample(1000)

# Mit Stichprobe Gesamtheit reudzieren

In [ ]:
isi_sp = isi_merge_final[isi_merge_final['FZ-ID'].isin(stichprobe['FZ-ID'])]

# Stichprobenwerte überprüfen

In [ ]:
isi_sp.columns

In [ ]:
isi_sp.tail()