In [1]:
import pandas as pd
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation
import datetime as dt
%matplotlib inline 
sns.set(color_codes=True)

In [2]:
auftraege = pd.read_csv("../Cleaned_Data/isi_auftraege.csv")
aufenthalt =pd.read_csv("../Cleaned_Data/isi_aufenthalt.csv")
auftragsdetails =pd.read_csv("../Cleaned_Data/isi_auftragsdetails.csv")
stammdaten = pd.read_csv("../Cleaned_Data/isi_stammdaten.csv")

### 1) Aufträge und Auftragsdetails verknüpfen über ID und Auftragsnummer

In [3]:
auftragsdetails_gr=auftragsdetails.groupby("FZ-ID").nunique()
print(len(auftragsdetails_gr))

5668

In [4]:
auftragsdetails.head()

,Unnamed: 0,FZ-ID,BAUART,ISAS,AUFTRAGSNR,AUFTRAGSBEZEICHNUNG,PRODUKTCODE,PRODUKTBEZEICHNUNG,MONAT,JAHR
0,0,4a6d10b9-f9bf-49d7-94e2-ec2f0ea01f2e,O2B53,030,1034819878,außerplanm. Instandsetzung,O82001160AB02,Aussenbeleuchtung (Ortsangabe) inst.,1,2019
1,1,4a6d10b9-f9bf-49d7-94e2-ec2f0ea01f2e,O2B53,030,1034819878,außerplanm. Instandsetzung,O82001161AB02,Innenbeleuchtung (Ortsangabe) inst.,1,2019
2,2,4a6d10b9-f9bf-49d7-94e2-ec2f0ea01f2e,O2B53,030,1034819878,außerplanm. Instandsetzung,O82001714AB02,Seitenmarkierungsleuchte (Ortsang.)inst.,1,2019
3,3,4a6d10b9-f9bf-49d7-94e2-ec2f0ea01f2e,O2B53,030,1034819878,außerplanm. Instandsetzung,O82001715AB02,Seitenmarkierungsleuchte (Ortsang.) ern.,1,2019
4,4,4a6d10b9-f9bf-49d7-94e2-ec2f0ea01f2e,O2B53,030,1034819878,außerplanm. Instandsetzung,O83001101AB02,Inspektion Zusatzheizg. durchführen,1,2019

In [5]:
aufenthalt_gr=aufenthalt.groupby("FZ-ID").nunique()
print(len(aufenthalt_gr))

5613

In [6]:
aufenthalt.head()

,Unnamed: 0,FZ-ID,WHO_NUMMER,WERK,BAUART,ILA_GRUPPE,REGION,DAT_EINBUCH,DAT_AUSBUCH
0,0,6858f0b4-d62d-4dc0-a120-5523b9d2292d,189,VU Werkstatt Aschaffenburg,O2B53,Unfall,Bayern,43861,43865
1,1,90ae1350-61b8-4e4f-8184-5ed0b328a14e,8,VU Werkstatt Aschaffenburg,O2C50,Revision,Bayern,43655,43656
2,2,90ae1350-61b8-4e4f-8184-5ed0b328a14e,10,VU Werkstatt Aschaffenburg,O2C50,Revision,Bayern,43689,43697
3,3,113ac8c3-32b3-4d97-9451-68fa271c4c81,11,VU Werkstatt Aschaffenburg,O2C50,Revision,Bayern,43789,43791
4,4,d827dcd0-5a7f-46fb-912e-4595c5a1f5e1,44,VU Werkstatt Aschaffenburg,O4A51,Revision,Bayern,43507,43551

In [7]:
auftraege_gr= auftraege.groupby("FZ-ID").nunique()
print(len(auftraege_gr))

6042

In [8]:
auftraege.head()

,Unnamed: 0,FZ-ID,AUFTRAGSNR,AUFTRAGSTEXT,ILA,WHO_NUMMER,AUFTRAGSART,ECKSTARTTERMIN,ECKENDTERMIN,BEZUGSDATUM,UPDATE_DATE,UEBERGEORDN_AUFTRAG
0,0,1d707286-e40a-4d8d-8c5d-47cff0169954,1032929649,Inst.schw.Unfallsch./G3.9 (Gw),090,2000000158,610M,43102,43102,43144,43510.536806,-9.223372e+18
1,1,20ee4f3b-a263-467c-9820-a9a3d83d5a5c,1032929810,außerplanm. Instandsetzung,030,2000000105,510,43102,43102,43104,43469.303472,-9.223372e+18
2,2,30052d6e-b09a-4212-80de-43398a69a235,1032929935,außerplanm. Instandsetzung,030,2000000083,510,43102,43102,43110,43510.536806,-9.223372e+18
3,3,fb21280e-0c29-4f93-bf10-88af3d48a25e,1032930077,außerplanm. Instand.-07 - Garantie,030,2000000014,3301,43102,43102,43115,43510.536806,1.032930e+09
4,4,a44f6d7c-e759-4d81-99b1-722ea9b7c874,1032930109,Inst.schw.Unfallsch./G3.9 (Gw)10117/2017,090,2000000055,311M,43102,43102,43133,43510.536806,-9.223372e+18

In [9]:
auftraege["WHO_NUMMER"] = auftraege["WHO_NUMMER"]-2000000000
auftraege.head()

,Unnamed: 0,FZ-ID,AUFTRAGSNR,AUFTRAGSTEXT,ILA,WHO_NUMMER,AUFTRAGSART,ECKSTARTTERMIN,ECKENDTERMIN,BEZUGSDATUM,UPDATE_DATE,UEBERGEORDN_AUFTRAG
0,0,1d707286-e40a-4d8d-8c5d-47cff0169954,1032929649,Inst.schw.Unfallsch./G3.9 (Gw),090,158,610M,43102,43102,43144,43510.536806,-9.223372e+18
1,1,20ee4f3b-a263-467c-9820-a9a3d83d5a5c,1032929810,außerplanm. Instandsetzung,030,105,510,43102,43102,43104,43469.303472,-9.223372e+18
2,2,30052d6e-b09a-4212-80de-43398a69a235,1032929935,außerplanm. Instandsetzung,030,83,510,43102,43102,43110,43510.536806,-9.223372e+18
3,3,fb21280e-0c29-4f93-bf10-88af3d48a25e,1032930077,außerplanm. Instand.-07 - Garantie,030,14,3301,43102,43102,43115,43510.536806,1.032930e+09
4,4,a44f6d7c-e759-4d81-99b1-722ea9b7c874,1032930109,Inst.schw.Unfallsch./G3.9 (Gw)10117/2017,090,55,311M,43102,43102,43133,43510.536806,-9.223372e+18

In [10]:
auftraege_auftragsdetails = pd.merge(auftraege, auftragsdetails, on=["FZ-ID", "AUFTRAGSNR"], how="inner")
auftraege_auftragsdetails.head()

,Unnamed: 0_x,FZ-ID,AUFTRAGSNR,AUFTRAGSTEXT,ILA,WHO_NUMMER,AUFTRAGSART,ECKSTARTTERMIN,ECKENDTERMIN,BEZUGSDATUM,UPDATE_DATE,UEBERGEORDN_AUFTRAG,Unnamed: 0_y,BAUART,ISAS,AUFTRAGSBEZEICHNUNG,PRODUKTCODE,PRODUKTBEZEICHNUNG,MONAT,JAHR
0,597,5e9e4906-ec23-4296-b9d2-24689ce1f6d7,1032947456,außerplanm. Instandsetzung,030,6,510,43104,43104,43467,43510.305556,-9.223372e+18,96044,O9Z99,030,außerplanm. Instandsetzung,O99000061AB01,EFD-Anlage prf. nB. Inst.,1,2019
1,597,5e9e4906-ec23-4296-b9d2-24689ce1f6d7,1032947456,außerplanm. Instandsetzung,030,6,510,43104,43104,43467,43510.305556,-9.223372e+18,96045,O9Z99,030,außerplanm. Instandsetzung,O99000102AB01,RBL-Rechner (Steuergerät) prüfen,1,2019
2,597,5e9e4906-ec23-4296-b9d2-24689ce1f6d7,1032947456,außerplanm. Instandsetzung,030,6,510,43104,43104,43467,43510.305556,-9.223372e+18,96046,O9Z99,030,außerplanm. Instandsetzung,O9900OSVM0001,Allgemeine Tätigkeiten n. Angabe,1,2019
3,2635,625d9fe9-9876-483d-83ee-47f30e66dd1c,1033004074,außerplanm. Instandsetzung,030,86,510,43116,43116,43416,43510.305556,-9.223372e+18,179387,O2C50,030,außerplanm. Instandsetzung,O40002420CD02,Reifen (Gebrauchtreifen) montieren,2,2019
4,3035,629ec63e-a596-47a5-bfd6-b1953dbe4caf,1033013390,fremdverursachte Unf. Bus,B30,103,311M,43117,43117,43479,43844.219444,-9.223372e+18,111558,O3B11,B30,fremdverursachte Unf. Bus,O0000U040AB02,Fzg Bewertung (Gutachten) erstellen,1,2019

In [11]:
auftraege_auftragsdetails_grp=auftraege_auftragsdetails.groupby("FZ-ID").nunique()
print(len(auftraege_auftragsdetails_grp))

5544

### 2) Aufträge_Auftragsdetails nun mit Aufenthalten verknüpfen über ID und WHO Nummer

In [12]:
auftraege_auftragsdetails_aufenthalt =pd.merge(auftraege_auftragsdetails, aufenthalt, on=["FZ-ID", "WHO_NUMMER"], how="inner")
auftraege_auftragsdetails_aufenthalt.head()

,Unnamed: 0_x,FZ-ID,AUFTRAGSNR,AUFTRAGSTEXT,ILA,WHO_NUMMER,AUFTRAGSART,ECKSTARTTERMIN,ECKENDTERMIN,BEZUGSDATUM,...,PRODUKTBEZEICHNUNG,MONAT,JAHR,Unnamed: 0,WERK,BAUART_y,ILA_GRUPPE,REGION,DAT_EINBUCH,DAT_AUSBUCH
0,49196,18123c7c-2a7a-4614-b35e-05e5d3fb60c9,1034311104,außerplanm. Instandsetzung,030,43,510,43374,43374,43474,...,Motor und Motorraum reinigen,1,2019,62340,Werk Betrieb Regensburg,O2I50,Revision,Bayern,43472,43473
1,49196,18123c7c-2a7a-4614-b35e-05e5d3fb60c9,1034311104,außerplanm. Instandsetzung,030,43,510,43374,43374,43474,...,Werkstattaktion abarbeiten,1,2019,62340,Werk Betrieb Regensburg,O2I50,Revision,Bayern,43472,43473
2,49196,18123c7c-2a7a-4614-b35e-05e5d3fb60c9,1034311104,außerplanm. Instandsetzung,030,43,510,43374,43374,43474,...,Thermofühler-Abgasfilteranlage.prf.ern.,1,2019,62340,Werk Betrieb Regensburg,O2I50,Revision,Bayern,43472,43473
3,49196,18123c7c-2a7a-4614-b35e-05e5d3fb60c9,1034311104,außerplanm. Instandsetzung,030,43,510,43374,43374,43474,...,Innenspiegel (Ortsang.) inst. oder ern.,1,2019,62340,Werk Betrieb Regensburg,O2I50,Revision,Bayern,43472,43473
4,49196,18123c7c-2a7a-4614-b35e-05e5d3fb60c9,1034311104,außerplanm. Instandsetzung,030,43,510,43374,43374,43474,...,Steuergerät elektr. Zielanzeige inst.,1,2019,62340,Werk Betrieb Regensburg,O2I50,Revision,Bayern,43472,43473

In [13]:
auftraege_auftragsdetails_aufenthalt_gr = auftraege_auftragsdetails_aufenthalt.groupby("FZ-ID").nunique()
print(len(auftraege_auftragsdetails_aufenthalt_gr))

5472

In [14]:
auftraege_auftragsdetails_aufenthalt_gr.columns

Index(['Unnamed: 0_x', 'FZ-ID', 'AUFTRAGSNR', 'AUFTRAGSTEXT', 'ILA',
       'WHO_NUMMER', 'AUFTRAGSART', 'ECKSTARTTERMIN', 'ECKENDTERMIN',
       'BEZUGSDATUM', 'UPDATE_DATE', 'UEBERGEORDN_AUFTRAG', 'Unnamed: 0_y',
       'BAUART_x', 'ISAS', 'AUFTRAGSBEZEICHNUNG', 'PRODUKTCODE',
       'PRODUKTBEZEICHNUNG', 'MONAT', 'JAHR', 'Unnamed: 0', 'WERK', 'BAUART_y',
       'ILA_GRUPPE', 'REGION', 'DAT_EINBUCH', 'DAT_AUSBUCH'],
      dtype='object')

### 3) auftraege_auftragsdetails_aufenthalt nun mit Stammdaten verknüfen über ID

In [15]:
stammdaten.head()

,Unnamed: 0,FZ-ID,BABR,FZ_KATEGORIE,FZ_LAENGE,FZ_BREITE,FZ_HOEHE,AKTIV,AUSMUSTERUNG_DAT,MOTORTYP,EURONORM,INBETRIEB_AB,KLIMAANLAGE,ABGASFILTER,ANZAHL_TUEREN,ZUL_100KMH,BAUJAHR,PLAETZE
0,0,e80bae2a-92ee-44e2-99a1-257f471457f3,O2I5C,S100,12.05,2.55,3.23,1,NaN,IVECO F4A TECTOR 7,6,42675.0,5,04,2,0,2016.0,84
1,1,8f8e1165-7226-4b89-bdc3-0a113209ea01,O2I5B,S100,11.95,2.55,3.23,1,NaN,IVECO F4A TECTOR 7,6,42675.0,5,04,2,0,2016.0,84
2,2,683fe484-3cb4-4382-9564-199c140aeca4,O2I5B,S100,11.95,2.55,3.23,1,NaN,IVECO F4A TECTOR 7,6,42675.0,5,04,2,0,2016.0,84
3,3,84c00c5e-72e6-4391-96d7-3e72326ef97b,O2I5C,S100,12.05,2.55,3.23,1,NaN,IVECO F4A TECTOR 7,6,42675.0,5,04,2,0,2016.0,84
4,4,e8701447-0878-4de1-9d75-5a6a0d851774,O2I5B,S100,12.05,2.55,3.23,1,NaN,IVECO F2B CURSOR 9,6,42522.0,1,SCR,2,0,2016.0,83

In [16]:
auftraege_auftragsdetails_aufenthalt_stammdaten =pd.merge(auftraege_auftragsdetails_aufenthalt, stammdaten, on=["FZ-ID"], how="inner")
auftraege_auftragsdetails_aufenthalt_stammdaten.head()

,Unnamed: 0_x,FZ-ID,AUFTRAGSNR,AUFTRAGSTEXT,ILA,WHO_NUMMER,AUFTRAGSART,ECKSTARTTERMIN,ECKENDTERMIN,BEZUGSDATUM,...,AUSMUSTERUNG_DAT,MOTORTYP,EURONORM,INBETRIEB_AB,KLIMAANLAGE,ABGASFILTER,ANZAHL_TUEREN,ZUL_100KMH,BAUJAHR,PLAETZE
0,49196,18123c7c-2a7a-4614-b35e-05e5d3fb60c9,1034311104,außerplanm. Instandsetzung,030,43,510,43374,43374,43474,...,NaN,IVECO F2B CURSOR 9,6,41955.0,5,02,2,0,2014.0,85
1,49196,18123c7c-2a7a-4614-b35e-05e5d3fb60c9,1034311104,außerplanm. Instandsetzung,030,43,510,43374,43374,43474,...,NaN,IVECO F2B CURSOR 9,6,41955.0,5,02,2,0,2014.0,85
2,49196,18123c7c-2a7a-4614-b35e-05e5d3fb60c9,1034311104,außerplanm. Instandsetzung,030,43,510,43374,43374,43474,...,NaN,IVECO F2B CURSOR 9,6,41955.0,5,02,2,0,2014.0,85
3,49196,18123c7c-2a7a-4614-b35e-05e5d3fb60c9,1034311104,außerplanm. Instandsetzung,030,43,510,43374,43374,43474,...,NaN,IVECO F2B CURSOR 9,6,41955.0,5,02,2,0,2014.0,85
4,49196,18123c7c-2a7a-4614-b35e-05e5d3fb60c9,1034311104,außerplanm. Instandsetzung,030,43,510,43374,43374,43474,...,NaN,IVECO F2B CURSOR 9,6,41955.0,5,02,2,0,2014.0,85

In [17]:
auftraege_auftragsdetails_aufenthalt_stammdaten_gr = auftraege_auftragsdetails_aufenthalt_stammdaten.groupby("FZ-ID").nunique()
print(len(auftraege_auftragsdetails_aufenthalt_stammdaten_gr))

5082

Spalten erneut überprüfen

In [18]:
auftraege_auftragsdetails_aufenthalt_stammdaten.head(1)

,Unnamed: 0_x,FZ-ID,AUFTRAGSNR,AUFTRAGSTEXT,ILA,WHO_NUMMER,AUFTRAGSART,ECKSTARTTERMIN,ECKENDTERMIN,BEZUGSDATUM,...,AUSMUSTERUNG_DAT,MOTORTYP,EURONORM,INBETRIEB_AB,KLIMAANLAGE,ABGASFILTER,ANZAHL_TUEREN,ZUL_100KMH,BAUJAHR,PLAETZE
0,49196,18123c7c-2a7a-4614-b35e-05e5d3fb60c9,1034311104,außerplanm. Instandsetzung,030,43,510,43374,43374,43474,...,-9.223372e+18,IVECO F2B CURSOR 9,6,41955.0,5,02,2,0,2014.0,85

In [19]:
auftraege_auftragsdetails_aufenthalt_stammdaten.columns

Index(['Unnamed: 0_x', 'FZ-ID', 'AUFTRAGSNR', 'AUFTRAGSTEXT', 'ILA',
       'WHO_NUMMER', 'AUFTRAGSART', 'ECKSTARTTERMIN', 'ECKENDTERMIN',
       'BEZUGSDATUM', 'UPDATE_DATE', 'UEBERGEORDN_AUFTRAG', 'Unnamed: 0_y',
       'BAUART_x', 'ISAS', 'AUFTRAGSBEZEICHNUNG', 'PRODUKTCODE',
       'PRODUKTBEZEICHNUNG', 'MONAT', 'JAHR', 'Unnamed: 0_x', 'WERK',
       'BAUART_y', 'ILA_GRUPPE', 'REGION', 'DAT_EINBUCH', 'DAT_AUSBUCH',
       'Unnamed: 0_y', 'BABR', 'FZ_KATEGORIE', 'FZ_LAENGE', 'FZ_BREITE',
       'FZ_HOEHE', 'AKTIV', 'AUSMUSTERUNG_DAT', 'MOTORTYP', 'EURONORM',
       'INBETRIEB_AB', 'KLIMAANLAGE', 'ABGASFILTER', 'ANZAHL_TUEREN',
       'ZUL_100KMH', 'BAUJAHR', 'PLAETZE'],
      dtype='object')

In [20]:
auftraege_auftragsdetails_aufenthalt_stammdaten = auftraege_auftragsdetails_aufenthalt_stammdaten.drop([
    'Unnamed: 0_x',
    'Unnamed: 0_y',
    'Unnamed: 0_x',
    'Unnamed: 0_y'], axis=1)

In [21]:
auftraege_auftragsdetails_aufenthalt_stammdaten.head(1)

,FZ-ID,AUFTRAGSNR,AUFTRAGSTEXT,ILA,WHO_NUMMER,AUFTRAGSART,ECKSTARTTERMIN,ECKENDTERMIN,BEZUGSDATUM,UPDATE_DATE,...,AUSMUSTERUNG_DAT,MOTORTYP,EURONORM,INBETRIEB_AB,KLIMAANLAGE,ABGASFILTER,ANZAHL_TUEREN,ZUL_100KMH,BAUJAHR,PLAETZE
0,18123c7c-2a7a-4614-b35e-05e5d3fb60c9,1034311104,außerplanm. Instandsetzung,030,43,510,43374,43374,43474,43839.21875,...,-9.223372e+18,IVECO F2B CURSOR 9,6,41955.0,5,02,2,0,2014.0,85

### 4) Spalten löschen

In [22]:
auftraege_auftragsdetails_aufenthalt_stammdaten = auftraege_auftragsdetails_aufenthalt_stammdaten.drop(['AKTIV', 'AUSMUSTERUNG_DAT', 'MONAT', 'JAHR',"BAUART_y","ISAS","UPDATE_DATE"], axis=1)

#auftraege_auftragsdetails_aufenthalt_stammdaten.UPDATE_DATE = auftraege_auftragsdetails_aufenthalt_stammdaten.UPDATE_DATE.astype(int)
auftraege_auftragsdetails_aufenthalt_stammdaten.INBETRIEB_AB = auftraege_auftragsdetails_aufenthalt_stammdaten.INBETRIEB_AB.astype(int)
auftraege_auftragsdetails_aufenthalt_stammdaten.BAUJAHR = auftraege_auftragsdetails_aufenthalt_stammdaten.BAUJAHR.astype(int)

auftraege_auftragsdetails_aufenthalt_stammdaten = auftraege_auftragsdetails_aufenthalt_stammdaten.rename(columns={'BAUART_x': 'BAUART'})

In [23]:
auftraege_auftragsdetails_aufenthalt_stammdaten.head(1)

,FZ-ID,AUFTRAGSNR,AUFTRAGSTEXT,ILA,WHO_NUMMER,AUFTRAGSART,ECKSTARTTERMIN,ECKENDTERMIN,BEZUGSDATUM,UEBERGEORDN_AUFTRAG,...,FZ_HOEHE,MOTORTYP,EURONORM,INBETRIEB_AB,KLIMAANLAGE,ABGASFILTER,ANZAHL_TUEREN,ZUL_100KMH,BAUJAHR,PLAETZE
0,18123c7c-2a7a-4614-b35e-05e5d3fb60c9,1034311104,außerplanm. Instandsetzung,030,43,510,43374,43374,43474,-9.223372e+18,...,3.23,IVECO F2B CURSOR 9,6,41955,5,02,2,0,2014,85

In [24]:
auftraege_auftragsdetails_aufenthalt_stammdaten.columns

Index(['FZ-ID', 'AUFTRAGSNR', 'AUFTRAGSTEXT', 'ILA', 'WHO_NUMMER',
       'AUFTRAGSART', 'ECKSTARTTERMIN', 'ECKENDTERMIN', 'BEZUGSDATUM',
       'UEBERGEORDN_AUFTRAG', 'BAUART', 'AUFTRAGSBEZEICHNUNG', 'PRODUKTCODE',
       'PRODUKTBEZEICHNUNG', 'WERK', 'ILA_GRUPPE', 'REGION', 'DAT_EINBUCH',
       'DAT_AUSBUCH', 'BABR', 'FZ_KATEGORIE', 'FZ_LAENGE', 'FZ_BREITE',
       'FZ_HOEHE', 'MOTORTYP', 'EURONORM', 'INBETRIEB_AB', 'KLIMAANLAGE',
       'ABGASFILTER', 'ANZAHL_TUEREN', 'ZUL_100KMH', 'BAUJAHR', 'PLAETZE'],
      dtype='object')

### 5) Baujahr-Datum in Excel-Format umwandeln

In [25]:
auftraege_auftragsdetails_aufenthalt_stammdaten = auftraege_auftragsdetails_aufenthalt_stammdaten.drop(auftraege_auftragsdetails_aufenthalt_stammdaten[(auftraege_auftragsdetails_aufenthalt_stammdaten["BAUJAHR"] < 1800)].index)

auftraege_auftragsdetails_aufenthalt_stammdaten["BAUJAHR"] = auftraege_auftragsdetails_aufenthalt_stammdaten["BAUJAHR"].apply(lambda x: dt.datetime(x,month=1,day=2))

def datetime_as_xldate(pydatetime):
    temp = dt.datetime(1899, 12, 31)
    delta = pydatetime - temp
    return float(delta.days) + (float(delta.seconds) / 86400)

auftraege_auftragsdetails_aufenthalt_stammdaten["BAUJAHR"] = auftraege_auftragsdetails_aufenthalt_stammdaten["BAUJAHR"].apply(datetime_as_xldate)

auftraege_auftragsdetails_aufenthalt_stammdaten.BAUJAHR = auftraege_auftragsdetails_aufenthalt_stammdaten.BAUJAHR.astype(int)

### 6) NA-Werte, Plätze und Türen mit Eintrag 0 und unrealistischen Einträgen löschen

In [26]:
auftraege_auftragsdetails_aufenthalt_stammdaten = auftraege_auftragsdetails_aufenthalt_stammdaten.drop(auftraege_auftragsdetails_aufenthalt_stammdaten[(auftraege_auftragsdetails_aufenthalt_stammdaten["PLAETZE"] == 0)].index)
auftraege_auftragsdetails_aufenthalt_stammdaten = auftraege_auftragsdetails_aufenthalt_stammdaten.drop(auftraege_auftragsdetails_aufenthalt_stammdaten[(auftraege_auftragsdetails_aufenthalt_stammdaten["PLAETZE"] == 1)].index)
auftraege_auftragsdetails_aufenthalt_stammdaten = auftraege_auftragsdetails_aufenthalt_stammdaten.drop(auftraege_auftragsdetails_aufenthalt_stammdaten[(auftraege_auftragsdetails_aufenthalt_stammdaten["PLAETZE"] == 2)].index)
auftraege_auftragsdetails_aufenthalt_stammdaten = auftraege_auftragsdetails_aufenthalt_stammdaten.drop(auftraege_auftragsdetails_aufenthalt_stammdaten[(auftraege_auftragsdetails_aufenthalt_stammdaten["PLAETZE"] == 3)].index)
auftraege_auftragsdetails_aufenthalt_stammdaten = auftraege_auftragsdetails_aufenthalt_stammdaten.drop(auftraege_auftragsdetails_aufenthalt_stammdaten[(auftraege_auftragsdetails_aufenthalt_stammdaten["PLAETZE"] == 4)].index)
auftraege_auftragsdetails_aufenthalt_stammdaten = auftraege_auftragsdetails_aufenthalt_stammdaten.drop(auftraege_auftragsdetails_aufenthalt_stammdaten[(auftraege_auftragsdetails_aufenthalt_stammdaten["PLAETZE"] == 5)].index)

auftraege_auftragsdetails_aufenthalt_stammdaten = auftraege_auftragsdetails_aufenthalt_stammdaten.dropna(subset=['FZ_KATEGORIE','MOTORTYP','ABGASFILTER','EURONORM'])

auftraege_auftragsdetails_aufenthalt_stammdaten = auftraege_auftragsdetails_aufenthalt_stammdaten.drop(auftraege_auftragsdetails_aufenthalt_stammdaten[(auftraege_auftragsdetails_aufenthalt_stammdaten["ANZAHL_TUEREN"] == 0)].index)

In [27]:
auftraege_auftragsdetails_aufenthalt_stammdaten.columns

Index(['FZ-ID', 'AUFTRAGSNR', 'AUFTRAGSTEXT', 'ILA', 'WHO_NUMMER',
       'AUFTRAGSART', 'ECKSTARTTERMIN', 'ECKENDTERMIN', 'BEZUGSDATUM',
       'UEBERGEORDN_AUFTRAG', 'BAUART', 'AUFTRAGSBEZEICHNUNG', 'PRODUKTCODE',
       'PRODUKTBEZEICHNUNG', 'WERK', 'ILA_GRUPPE', 'REGION', 'DAT_EINBUCH',
       'DAT_AUSBUCH', 'BABR', 'FZ_KATEGORIE', 'FZ_LAENGE', 'FZ_BREITE',
       'FZ_HOEHE', 'MOTORTYP', 'EURONORM', 'INBETRIEB_AB', 'KLIMAANLAGE',
       'ABGASFILTER', 'ANZAHL_TUEREN', 'ZUL_100KMH', 'BAUJAHR', 'PLAETZE'],
      dtype='object')

### 7) Neue Datei speichern

In [28]:
auftraege_auftragsdetails_aufenthalt_stammdaten.to_csv("../Merged_Data/V2_ISI_Merged_Cleaned.csv")

In [29]:
auftraege_auftragsdetails_aufenthalt_stammdaten_gr = auftraege_auftragsdetails_aufenthalt_stammdaten.groupby("FZ-ID").nunique()
print(len(auftraege_auftragsdetails_aufenthalt_stammdaten_gr))

4288