In [1]:
import pandas as pd
import datetime as dt

### Telematik Config muss noch einmal gefiltert werden, da sich die Anzahl der gemeinsamen Busse über Telematik_Tracking auf 2758 reduziert hat

In [2]:
isi_final = pd.read_csv("../data_final/isi_final.csv")

In [3]:
isi_final.head(1)

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,FZ-ID,AUFTRAGSNR,AUFTRAGSTEXT,ILA,WHO_NUMMER,AUFTRAGSART,ECKSTARTTERMIN,...,FZ_HOEHE,MOTORTYP,EURONORM,INBETRIEB_AB,KLIMAANLAGE,ABGASFILTER,ANZAHL_TUEREN,ZUL_100KMH,BAUJAHR,PLAETZE
0,0,0,0,18123c7c-2a7a-4614-b35e-05e5d3fb60c9,1034311104,außerplanm. Instandsetzung,030,43,510,43374,...,3.23,IVECO F2B CURSOR 9,6,41955,5,02,2,0,41640,85

In [5]:
isi_final["FZ-ID"].nunique()

2758

In [6]:
isi_final.isna().sum()

Unnamed: 0             0
Unnamed: 0.1           0
Unnamed: 0.1.1         0
FZ-ID                  0
AUFTRAGSNR             0
AUFTRAGSTEXT           0
ILA                    0
WHO_NUMMER             0
AUFTRAGSART            0
ECKSTARTTERMIN         0
ECKENDTERMIN           0
BEZUGSDATUM            0
UEBERGEORDN_AUFTRAG    0
BAUART                 0
AUFTRAGSBEZEICHNUNG    0
PRODUKTCODE            0
PRODUKTBEZEICHNUNG     0
WERK                   0
ILA_GRUPPE             0
REGION                 0
DAT_EINBUCH            0
DAT_AUSBUCH            0
BABR                   0
FZ_KATEGORIE           0
FZ_LAENGE              0
FZ_BREITE              0
FZ_HOEHE               0
MOTORTYP               0
EURONORM               0
INBETRIEB_AB           0
KLIMAANLAGE            0
ABGASFILTER            0
ANZAHL_TUEREN          0
ZUL_100KMH             0
BAUJAHR                0
PLAETZE                0
dtype: int64

In [7]:
config_final = pd.read_csv("../data_final/tele_config_final.csv")

In [9]:
config_final.head(1)

,Unnamed: 0,FZ-ID,Timestamp,Event,n,mean,max
0,1,3f7efdc1-77f0-4b54-b63c-a696d11177bd,2019-01-20,FE_SPEED,1,82.6,82.6

In [8]:
config_final["FZ-ID"].nunique()

2894

In [12]:
config_final_neu = config_final[config_final['FZ-ID'].isin(isi_final['FZ-ID'])]

In [13]:
config_final_neu["FZ-ID"].nunique()

2758

In [14]:
config_final_neu.head(1)

,Unnamed: 0,FZ-ID,Timestamp,Event,n,mean,max
0,1,3f7efdc1-77f0-4b54-b63c-a696d11177bd,2019-01-20,FE_SPEED,1,82.6,82.6

### Test: config in isi

In [10]:
isi_final_neu = isi_final[isi_final['FZ-ID'].isin(config_final['FZ-ID'])]

In [11]:
isi_final_neu["FZ-ID"].nunique()

2758

### Neue Config-Datei exportieren

In [15]:
config_final_neu.to_csv("../data_final/tele_config_final.csv")