In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
tele_tracking = pd.read_csv("../Cleaned_Data/Telematik_Tracking.csv", sep=",")

In [4]:
tele_tracking.head(1)

,Unnamed: 0,FZ-ID,Start_Date,Start_time,Start_milage,Status_login,Idling,Trafic_Type,Consumption,Distance,Speed_max,End_Date,End_time,End_milage,Start_Time,End_Time
0,0,4d425dc0-055b-4199-93dd-363854aa9f59,43831,0.853738,0.0,0,0.0,populated,5539.0,19730,58.0,43831,0.884988,0.0,43831.853738,43831.884988

In [5]:
isi_data = pd.read_csv("../data_final/isi_final.csv", sep=",")

In [6]:
isi_data.head(1)

,Unnamed: 0,Unnamed: 0.1,FZ-ID,AUFTRAGSNR,AUFTRAGSTEXT,ILA,WHO_NUMMER,AUFTRAGSART,ECKSTARTTERMIN,ECKENDTERMIN,...,FZ_HOEHE,MOTORTYP,EURONORM,INBETRIEB_AB,KLIMAANLAGE,ABGASFILTER,ANZAHL_TUEREN,ZUL_100KMH,BAUJAHR,PLAETZE
0,0,0,18123c7c-2a7a-4614-b35e-05e5d3fb60c9,1034311104,außerplanm. Instandsetzung,030,43,510,43374,43374,...,3.23,IVECO F2B CURSOR 9,6,41955,5,02,2,0,41640,85

In [7]:
tele_tracking['FZ-ID'].nunique()

3313

In [8]:
isi_data['FZ-ID'].nunique()

2894

### 1) Drop duplicates and NA

In [9]:
tele_tracking = tele_tracking.drop_duplicates()

In [10]:
tele_tracking['FZ-ID'].nunique()

3313

In [17]:
tele_tracking.isna().sum()

Unnamed: 0            0
FZ-ID                 0
Start_Date            0
Start_time            0
Start_milage    7421434
Status_login          0
Idling          7421434
Trafic_Type           0
Consumption     7421434
Distance              0
Speed_max       7421434
End_Date              0
End_time              0
End_milage      7421434
Start_Time            0
End_Time              0
dtype: int64

In [22]:
tele_tracking = tele_tracking.dropna()

In [23]:
tele_tracking.isna().sum()

Unnamed: 0      0
FZ-ID           0
Start_Date      0
Start_time      0
Start_milage    0
Status_login    0
Idling          0
Trafic_Type     0
Consumption     0
Distance        0
Speed_max       0
End_Date        0
End_time        0
End_milage      0
Start_Time      0
End_Time        0
dtype: int64

In [24]:
tele_tracking['FZ-ID'].nunique()

3313

### 2) Drop trafic type = ERROR

In [25]:
tele_tracking = tele_tracking.drop(tele_tracking[(tele_tracking["Trafic_Type"] == "ERROR")].index)

In [26]:
tele_tracking.sample(3)

,Unnamed: 0,FZ-ID,Start_Date,Start_time,Start_milage,Status_login,Idling,Trafic_Type,Consumption,Distance,Speed_max,End_Date,End_time,End_milage,Start_Time,End_Time
19760845,19760846,e73352ae-84a5-4109-8692-a7d813b08e0a,43536,0.460231,502544520.0,0,0.0,populated,906.0,2155,50.0,43536,0.465764,502546675.0,43536.460231,43536.465764
7255595,7255595,65b26f96-429e-4994-9af0-fb79d75de2be,43894,0.369803,149688190.0,0,0.0,mixed,981.0,4535,68.0,43894,0.373322,149692725.0,43894.369803,43894.373322
48517781,48517791,4600c79c-f54b-434d-99c3-6614e8fa02a9,43797,0.317685,37691670.0,0,0.0,mixed,0.0,240,65.0,43797,0.317859,37691910.0,43797.317685,43797.317859

### 2) Filter nach ISI FahrzeugIDs

In [27]:
tele_tracking_neu = tele_tracking[tele_tracking['FZ-ID'].isin(isi_data['FZ-ID'])]

In [28]:
tele_tracking_neu['FZ-ID'].nunique()

2758

In [29]:
tele_tracking_neu.isna().sum()

Unnamed: 0      0
FZ-ID           0
Start_Date      0
Start_time      0
Start_milage    0
Status_login    0
Idling          0
Trafic_Type     0
Consumption     0
Distance        0
Speed_max       0
End_Date        0
End_time        0
End_milage      0
Start_Time      0
End_Time        0
dtype: int64

### 3) Filter ISI nach Telematik Tracking IDs

In [30]:
isi_data_neu = isi_data[isi_data['FZ-ID'].isin(tele_tracking['FZ-ID'])]

In [31]:
isi_data_neu['FZ-ID'].nunique()

2758

In [32]:
isi_data_neu.head(1)

,Unnamed: 0,Unnamed: 0.1,FZ-ID,AUFTRAGSNR,AUFTRAGSTEXT,ILA,WHO_NUMMER,AUFTRAGSART,ECKSTARTTERMIN,ECKENDTERMIN,...,FZ_HOEHE,MOTORTYP,EURONORM,INBETRIEB_AB,KLIMAANLAGE,ABGASFILTER,ANZAHL_TUEREN,ZUL_100KMH,BAUJAHR,PLAETZE
0,0,0,18123c7c-2a7a-4614-b35e-05e5d3fb60c9,1034311104,außerplanm. Instandsetzung,030,43,510,43374,43374,...,3.23,IVECO F2B CURSOR 9,6,41955,5,02,2,0,41640,85

### 4) Drop columns Telematik Tracking

In [33]:
tele_tracking_neu.sample(5)

,Unnamed: 0,FZ-ID,Start_Date,Start_time,Start_milage,Status_login,Idling,Trafic_Type,Consumption,Distance,Speed_max,End_Date,End_time,End_milage,Start_Time,End_Time
4789626,4789626,4a57dda2-b3fa-45d6-8190-b571a541a370,43874,0.177778,536203315.0,0,2715.0,populated,2904.0,535,54.0,43874,0.210150,536203850.0,43874.177778,43874.210150
2009555,2009555,685aefcf-9edf-4a9f-b424-bdb6e7cf81cb,43850,0.609421,308562610.0,0,0.0,mixed,7666.0,26965,83.0,43850,0.628437,308589575.0,43850.609421,43850.628438
2059348,2059348,6d8c8255-f62c-4395-b235-74556d78d260,43850,0.201053,183462890.0,0,0.0,mixed,1162.0,5010,72.0,43850,0.205694,183467900.0,43850.201053,43850.205694
44853901,44853911,03544499-ffee-4111-9076-97a14d0fcd73,43765,0.756100,279688435.0,0,0.0,mixed,306.0,2430,79.0,43765,0.757546,279690865.0,43765.756100,43765.757546
22199705,22199706,54891cda-3578-4ca8-9781-c3f2a8ce053e,43557,0.492407,138615640.0,0,0.0,populated,6052.0,9995,61.0,43557,0.521400,138625635.0,43557.492407,43557.521400

In [35]:
tele_tracking_neu.Status_login.nunique

<bound method IndexOpsMixin.nunique of 78          0
79          0
80          0
81          0
82          0
           ..
52247906    0
52247907    0
52247908    0
52247909    0
52247910    0
Name: Status_login, Length: 39623049, dtype: int64>

In [36]:
tele_tracking_neu = tele_tracking_neu.drop(['Start_Date', 'Start_time', 'End_Date', 'End_time'], axis=1)

In [37]:
tele_tracking_neu.head(2)

,Unnamed: 0,FZ-ID,Start_milage,Status_login,Idling,Trafic_Type,Consumption,Distance,Speed_max,End_milage,Start_Time,End_Time
78,78,85e261eb-9def-4e94-8681-22bdccc98109,0.0,0,0.0,mixed,609.0,2085,76.0,0.0,43831.596736,43831.598611
79,79,85e261eb-9def-4e94-8681-22bdccc98109,0.0,0,353.0,populated,926.0,950,61.0,0.0,43831.590301,43831.596736

In [38]:
tele_tracking_neu["FZ-ID"].nunique()

2758

### 4) Export data TELE

In [39]:
tele_tracking_neu.to_csv("../data_final/tele_tracking_final.csv")

### 5) Export neue ISI Datei

In [40]:
isi_data_neu["FZ-ID"].nunique()

2758

In [41]:
isi_data_neu.head(1)

,Unnamed: 0,Unnamed: 0.1,FZ-ID,AUFTRAGSNR,AUFTRAGSTEXT,ILA,WHO_NUMMER,AUFTRAGSART,ECKSTARTTERMIN,ECKENDTERMIN,...,FZ_HOEHE,MOTORTYP,EURONORM,INBETRIEB_AB,KLIMAANLAGE,ABGASFILTER,ANZAHL_TUEREN,ZUL_100KMH,BAUJAHR,PLAETZE
0,0,0,18123c7c-2a7a-4614-b35e-05e5d3fb60c9,1034311104,außerplanm. Instandsetzung,030,43,510,43374,43374,...,3.23,IVECO F2B CURSOR 9,6,41955,5,02,2,0,41640,85

In [42]:
isi_data_neu.to_csv("../data_final/isi_final.csv")