In [1]:
import pandas as pd
import numpy as np
import glob

In [7]:
files = glob.glob("../Cleaned_Data/Tele_Aggregated/Telematik_Config_*.csv")
files

['../Cleaned_Data/Tele_Aggregated/Telematik_Config_2019_9_neu.csv',
 '../Cleaned_Data/Tele_Aggregated/Telematik_Config_2019_1_neu.csv',
 '../Cleaned_Data/Tele_Aggregated/Telematik_Config_2019_10_neu.csv',
 '../Cleaned_Data/Tele_Aggregated/Telematik_Config_2019_8_neu.csv',
 '../Cleaned_Data/Tele_Aggregated/Telematik_Config_2020_1_neu.csv',
 '../Cleaned_Data/Tele_Aggregated/Telematik_Config_2020_4_neu.csv',
 '../Cleaned_Data/Tele_Aggregated/Telematik_Config_2019_7_neu.csv',
 '../Cleaned_Data/Tele_Aggregated/Telematik_Config_2019_2_neu.csv',
 '../Cleaned_Data/Tele_Aggregated/Telematik_Config_2019_4_neu.csv',
 '../Cleaned_Data/Tele_Aggregated/Telematik_Config_2019_12_neu.csv',
 '../Cleaned_Data/Tele_Aggregated/Telematik_Config_2019_5_neu.csv',
 '../Cleaned_Data/Tele_Aggregated/Telematik_Config_2020_2_neu.csv',
 '../Cleaned_Data/Tele_Aggregated/Telematik_Config_2019_3_neu.csv',
 '../Cleaned_Data/Tele_Aggregated/Telematik_Config_2020_3_neu.csv',
 '../Cleaned_Data/Tele_Aggregated/Telematik_Config_2019_11_neu.csv',
 '../Cleaned_Data/Tele_Aggregated/Telematik_Config_2019_6_neu.csv']

In [8]:
dfs = []
for filename in files:
    dfs.append(pd.read_csv(filename))

# Concatenate all data into one DataFrame
big_frame = pd.concat(dfs, ignore_index=True)

In [9]:
big_frame.head()

,FZ-ID,Timestamp,Event,n,mean,max
0,002d233c-776c-4b76-a64a-a5a348c246e4,2019-09-21,FE_BRAKE,211,-17.188626,-1.1
1,002d233c-776c-4b76-a64a-a5a348c246e4,2019-09-21,FE_COAST,291,163.024055,1340.0
2,002d233c-776c-4b76-a64a-a5a348c246e4,2019-09-21,FE_IDLE,1,382.000000,382.0
3,002d233c-776c-4b76-a64a-a5a348c246e4,2019-09-21,FE_SPEED,5,82.680000,83.6
4,002d233c-776c-4b76-a64a-a5a348c246e4,2019-09-22,FE_BRAKE,158,-16.835443,0.7

In [10]:
big_frame.shape

(2773789, 6)

In [11]:
big_frame = big_frame.sort_values(by=['Timestamp'])

In [12]:
big_frame.to_csv("../Cleaned_Data/Tele_Aggregated/Telematik_Config_Agg.csv", index=False)

In [ ]:
#Filter IDS -- hat eben nicht funktioniert

In [13]:
merged_isi = pd.read_csv("../Merged_Data/V2_ISI_Merged_Cleaned.csv")
merged_isi.head(1)

,Unnamed: 0,FZ-ID,AUFTRAGSNR,AUFTRAGSTEXT,ILA,WHO_NUMMER,AUFTRAGSART,ECKSTARTTERMIN,ECKENDTERMIN,BEZUGSDATUM,...,FZ_HOEHE,MOTORTYP,EURONORM,INBETRIEB_AB,KLIMAANLAGE,ABGASFILTER,ANZAHL_TUEREN,ZUL_100KMH,BAUJAHR,PLAETZE
0,25,7ea1f15d-626a-4d8e-a8b4-32e0e4f3a173,1034632730,außerplanm. Instandsetzung,030,43,510,43437,43437,43530,...,2.985,D2066LUH47,5E,40709,9,03,2,0,40544,84

In [14]:
merged_isi = pd.DataFrame(merged_isi["FZ-ID"])
merged_isi.head()

                                  FZ-ID
0  7ea1f15d-626a-4d8e-a8b4-32e0e4f3a173
1  7ea1f15d-626a-4d8e-a8b4-32e0e4f3a173
2  7ea1f15d-626a-4d8e-a8b4-32e0e4f3a173
3  3cbf6063-9132-443c-92b5-ccf382bdf155
4  3cbf6063-9132-443c-92b5-ccf382bdf155

In [21]:
all_ids= merged_isi

In [22]:
all_ids["Spalte"] = all_ids

In [29]:
filtered_big_frame = big_frame[~big_frame['FZ-ID'].isin(all_ids["Spalte"])]

In [33]:
big_frame["FZ-ID"].nunique()

3255

In [30]:
filtered_big_frame.shape

(2773789, 6)

In [26]:
filtered_big_frame.to_csv("../Cleaned_Data/Tele_Aggregated/Telematik_Config_Agg_filtered.csv", index=False)

In [31]:
filtered_big_frame = big_frame[big_frame['FZ-ID'].isin(all_ids["Spalte"])]

In [32]:
filtered_big_frame.shape

(0, 6)